@import "../utils/mixins/mixins";

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.bookmarked-contact-list {
  border: #d3d3d3 solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ccfaf2;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  a {
    margin-bottom: 20px;
    color: #3a474e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;

    .list-header {
      font-size: 1.5em;
      color: #3a474e;
    }

    .sorting-component {
      background-color: #ff52ad;

      border-radius: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      .sort-select {
        background-color: transparent;
        border: none;
        color: black;
        font-size: 1em;
        padding: 5px;
        outline: none;
      }
    }
  }
  @include bookmark-star;

  .contact {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #f5e5e5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h3 {
      margin-top: 0;
      color: #3a474e;
    }

    p {
      margin: 5px 0;
      color: #3a474e;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 320px) {
  .bookmarked-contact-list {
    padding: 10px;
  }

  .header-section {
    flex-direction: column;
    padding: 0 10px;
  }

  .header-section .list-header,
  .header-section .sorting-component {
    margin-bottom: 20px;
  }

  .contact {
    padding: 10px;
    margin: 10px 0;
  }
}
