@import "../utils/mixins/mixins";
.contact-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;

    .bookmark-controls {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 10px;

      button {
        border: #f72585 solid;
        border-radius: 50px;
        font-size: 21px;
        cursor: pointer;
        color: #f72585;
        background: linear-gradient(
          145deg,
          #f50057,
          #f72585,
          #c945c7,
          #9e58c9,
          #7047b9,
          #3f2b7d
        );

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        box-shadow: 0px 0px 15px rgba(0, 188, 212, 0.5);
        transition: box-shadow 0.3s ease;

        &:hover {
          background-color: #325cbf;
          box-shadow: 0px 0px 20px rgba(0, 46, 212, 0.75);
        }
      }
    }

    .list-and-controls {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;

      .list-header {
        position: relative;
        margin-right: 20px;

        &:after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          height: 1px;
          width: 100vw;
          background: black;
        }
      }

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;

        select,
        input[type="text"] {
          padding: 10px 15px;
          font-size: 1em;
          border-radius: 25px;
          border: #f72585 solid;
          background: linear-gradient(to bottom, darkblue, #301934);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          box-shadow: 0px 0px 15px rgba(0, 188, 212, 0.5);
          transition: box-shadow 0.3s ease;
        }

        select:focus,
        input[type="text"]:focus {
          color: #c945c7;

          box-shadow: 0px 0px 20px rgba(0, 188, 212, 0.75);
        }
      }
    }
  }
  @include bookmark-star;

  .contact {
    border-bottom: 1px solid black;

    h2 {
      margin-top: 0;
    }

    p {
      margin: 5px 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .contact-list .header-section .list-and-controls {
    grid-template-columns: 1fr;

    .list-header,
    .controls {
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .contact-list {
    padding: 10px;

    .header-section {
      margin-bottom: 10px;

      .bookmark-controls {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;

        button {
          font-size: 18px;
        }
      }

      .list-and-controls {
        flex-direction: column;

        .list-header {
          margin-right: 0;
          text-align: center;
        }

        .controls {
          flex-direction: column;
          gap: 5px;

          select,
          input[type="text"] {
            padding: 5px 10px;
            font-size: 0.8em;
          }
        }
      }
    }

    .contact {
      h2 {
        font-size: 1.2em;
      }

      p {
        font-size: 1em;
        margin: 2px 0;
      }
    }
  }
}
